/* Add a black background color to the top navigation */
.navbar {
  background-color: #008C8C;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: white;
}

.logo {
  margin: 5px 20px 5px 20px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #004040;
  color: white;
}

i {
  margin-right: 5px
}

/* The sidebar menu */
.sidebar {
  color: white;
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 250px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  left: 0;
  background-color: rgb(228, 228, 228);
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 10px 6px 20px;
  text-decoration: none;
  color: #646464;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #008C8C;
  border-left: 4px solid #008C8C;
}

.sidebar a:active {
  border-left: 4px solid #008C8C;

}

/* Style page content */
.main-body {
  margin-left: 200px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.sidebar-header {
  color: #008C8C;
  margin: 0 10px 30px 20px;
  font-weight: bold;
  align-content: space-between;
  word-spacing: 80px;
}

.sub-navbar {
  background-color: rgb(228, 228, 228);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border: 1px solid #008C8C;
  margin-left: 250px;
}

.sub-navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  border-left: 1px solid #008C8C;
  border-right: 1px solid #008C8C;
}

.sub-navbar a:hover {
  color: white;
  background-color: orange;
}

.active-sub {
  background-color: orange;
  color: white;
}

.dialog-layer {
  margin-left: 250px;
  color: #008C8C;
  font-weight: bold;
  padding-top: 20px;
  border-bottom: 1px solid #b8b8b8;
}

.dialog-question {
  color: #b8b8b8;
  position: absolute;
  left: 23%;
  top: 21%;
}

.dialog-answer {
  color: #646464;
  position: absolute;
  left: 28%;
  top: 21%;
}

.dialog-question-two {
  color: #b8b8b8;
  position: absolute;
  left: 40%;
  top: 21%;
}

.dialog-answer-two {
  color: #646464;
  position: absolute;
  left: 48%;
  top: 21%;
}

.dialog-question-three {
  color: #b8b8b8;
  position: absolute;
  left: 23%;
  top: 25%;
}

.dialog-answer-three {
  color: #646464;
  position: absolute;
  left: 28%;
  top: 25%;
}

.dialog-question-four {
  color: #b8b8b8;
  position: absolute;
  left: 40%;
  top: 25%;
}

.dialog-answer-four {
  color: #646464;
  position: absolute;
  left: 48%;
  top: 25%;
}

.event-title {
  margin-top: 20px;
}

.details {
  display: flex;
  flex-direction: row;
}

.dialog-button {
  background-color: #008C8C;
  color: white;
  margin-left: 20px;
}

.dialog-title {
  display: flex;
  flex-direction: row;
}

.dialog-image {
  height: 110px;
  width: 150px;
  margin: 15px;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dialog-button {
  margin-top: 20px;
}

.dialog-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.best-tickets-header {
  font-weight: bold;
  border: 2px solid #b8b8b8;
  font-size: 20px;
  padding: 10px 0 10px 20px;
}

.fa-arrow-alt-circle-up {
  font-size: 80px;
  color: orange;
  position: absolute;
  left: 100;
}

.fa-arrow-alt-circle-down {
  font-size: 80px;
  color: orange;
  position: absolute;
  left: 100;
}

.body-layer {
  margin-left: 250px;
  color: #008C8C;
  font-weight: bold;
  padding-top: 20px;
}

.tickets {
  border: 1px solid #b8b8b8;
  margin-left: 30px;
  position: absolute;
  left: 15%;
  box-shadow: 3px 3px 5px #646464;
}

.adult {
  position: absolute;
  left: 150px;
  color: #646464;
}

.buttons {
  margin: 40px 10px 20px 100px;
}

.tickets-right {
  position: absolute;
  right: 10px;
  text-align: right;
  margin-top: 20px;
}

.sold {
  font-size: 18px;
  margin: 0;
}

.increase {
  color: #b8b8b8;
  font-size: 12px;
  margin-top: 5px;
}

.tickets-right-child {
  position: absolute;
  right: 10px;
  text-align: right;
  margin: 140px 50px 20px 0;
}

.sold-child {
  font-size: 18px;
  margin: 0;
  color: orange;
}

.fa-info-circle {
  color: #b8b8b8;
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 230px;
  margin: 0;
}

.hidden {
  color: #e2e2e2;
}

.fa-eye-slash {
  font-size: 80px;
  color: rgb(255, 199, 95);
  position: absolute;
  left: 100;
}

.tickets-right-hidden {
  position: absolute;
  right: 10px;
  text-align: right;
  margin: 260px 10px 20px 0;
}

.selling-ticket-hidden {
  margin-top: 20px;
}

.selling-ticket-body {
  margin-top: 10px;
}

.selling-ticket-child {
  margin-top: 20px;
}

.selling-ticket-calendar {
  margin-top: 20px;
}

.fa-times-circle {
  font-size: 80px;
  color: #b8b8b8;
  position: absolute;
  left: 100;
}

.no-sale {
  color: #646464;
  margin: 0;
}

.tickets-right-no-sale {
  position: absolute;
  right: 10px;
  text-align: right;
  margin: 380px 10px 20px 0;
}

.fa-calendar-alt {
  font-size: 80px;
  color: #008C8C;
  position: absolute;
  left: 100;
}

.tickets-right-calendar {
  position: absolute;
  right: 10px;
  text-align: right;
  margin: 500px 10px 20px 0;
}

.widget {
  position: absolute;
  right: 3%;
  justify-content: center;
  border: 1px solid #646464;
  background-color: #008C8C;
  color: white;
  padding: 40px 0;
  display: flex;
  flex-direction: space-around;
  width: 40%;

}

.days-until {
  border-right: 1px solid white;
  margin: 0px 20px;
  text-align: center;
}

.days {
  font-weight: bold;
  text-shadow: 2px 2px #004040;
  margin: 0;
}

.event {
  padding-right: 60px;
  color: rgb(118, 199, 199);
}

.guests {
  color: rgb(118, 199, 199);
}

.reports {
  position: absolute;
  right: 3%;
  top: 55%;
  box-shadow: 3px 3px 5px #646464;
  border: 1px solid #646464;
}

.sales {
  color: #b8b8b8;
  margin: 0 30px 20px 30px;
}

.small-nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #646464;
}

.pie-chart {
  padding: 10px 0px 10px 200px;
}